.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  border-radius: 5px;
  border-color: #cbced2;
  border-width: 5px;
  list-style-type: none;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  border-radius: 5px;
  border-color: #cbced2;
  border-width: 5px;
}

.card-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  border-radius: 5px;
  border-color: #cbced2;
  border-width: 5px;
}

.banner-card-container {
  padding: 10px;
  margin: 15px;
}
.header-text {
  color: #326a9d;
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 700;
}
.card-description {
  color: #64748b;
  font-family: 'Roboto';
  font-size: 15px;
}
.btn {
  color: #326a9d;
  border: #326a9d solid 2px;
  background-color: transparent;
  height: 25px;
  width: 95px;
  padding: 5px;
  border-radius: 5px;
}
.content-con {
  display: flex;
  flex-direction: column;
}
